* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
a {
  display: block;
}
body {
  background: black;
  color: white;
}
